/* @theme marp_ifd_theme */
@import 'default';

:root{
  --section_padding_lr: 50px;
  --section_padding-t: 80px;
  --screen_width: 1280px;
  --slide_width: calc(var(--screen_width) - calc(var(--slide-padding) * 2));
  --slide-padding: 20px;
  --paginate-color: #fff;
  --primary-color: #0047AB;
  --secondary-color: #191970;
  --light-color:#3485D5;
  --neutral-color: #4b5563;
  --accent-color: #7c3aed;

  font-size: 28px;
}

section {
  display: block;
  padding-left: var(--section_padding_lr);
  padding-right: var(--section_padding_lr);
  padding-top: var(--section_padding-t);
}

img[alt~="center"] {
  display: block;
  margin: 0 auto;
}

/* Pagination */
section::after {
    position: absolute;
    border-radius: 50%;
    background: var(--light-color);
    width: 25px;
    height: 25px;
    right: var(--slide-padding);
    bottom: var(--slide-padding);
    font-size: 0.6em;
    font-weight: 700;
    color: var(--paginate-color);
    text-align: center;
  }

h2 {
  font-size: 1.6em;
  background-image: linear-gradient(45deg, var(--light-color), var(--accent-color));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

h3 {
  font-size: 1.2em;
  margin-top: 0em;
}

section.title {
  display: flex;
  align-items: center;
}


section.title h1{
  color: var(--secondary-color);
  margin-top: 1em;
  font-size: 2.4em;
  font-weight: 700;
}

section.title h3{
  position: absolute;
  color: var(--neutral-color);
  right: 30px;
  bottom: 120px;
  border-bottom: none;
  font-size: 1.1em;
}

header, footer {
  all: unset;
  width: var(--slide_width); /* by using this, disable IFD logo when we use image on the right hand side */
  position: absolute;
  display: flex;
  justify-content: space-between;
  color: var(--neutral-color);
}

header {
  top: var(--slide-padding);
  left: var(--slide-padding);
  font-size: 0.7em;
  font-weight: 600;
}


footer {
  font-size: 0.7em;
  bottom: var(--slide-padding);
  left: var(--slide-padding);
  font-weight: 400;
}
